 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
 @import "styles"; 

.keep-scrolling::-webkit-scrollbar {
    display: none;
}
.nav-item {
    white-space: nowrap;
}
.navbar.mobile { 
    overflow-x: auto !important; 
}
.navbar-brand.mobile img {
    width: 30px;
}
.btn {
    border-radius: 0;
    background: 0;
    border: 1px solid #FFF;
    /* font-family: 'texgyreadventorregular'; */
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 15px;
    padding: 6px 25px 8px;
    color:white;
}
.btn-primary {
    background: #cc0000;
    border: 1px solid rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.83);
    text-shadow: 0 0 7px #a20000;
    border-radius: 7px;
    transition: all 0.25s ease 0s;
}
.btn-primary:hover {
    border: 1px solid #cc0000;
    color: #cc0000;
    background:none;
    text-shadow:none;
}
a { color: #cc0000; }
a:hover { color: #e31010; }
h1,h2,h3,h4,h5,h6 {
    letter-spacing:.075em;
    text-shadow: 0 0 10px rgba(238, 55, 55, 0.161);
}
.form-control:focus, input:focus {
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.325) inset;
    border-color:tint-color(#e31010, 60%)
}